<%# new e edit %> 

<% if(@deadline.errors.any?) %>
    <p>Verifique os erros abaixo:</p>
    <ul> 
        <% @deadline.errors.full_messages.each do |msg| %> 
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: [@transport, @deadline]) do |f| %>
  <div>
    <%= f.label :min_distance %>:
    <%= f.text_field :min_distance %>
  </div>
  <div> 
    <%= f.label :max_distance %>:
    <%= f.text_field :max_distance %>
  </div>
  <div> 
    <%= f.label :time %>:
    <%= f.text_field :time %> horas
  </div>
  <%= f.submit 'Salvar', class: "btn btn-bd-primary"%>
<% end %>

  <%= link_to 'Voltar', @transport, class: "btn btn-bd-primary" %>