<%# new e edit %> 

<% if(@weight_price.errors.any?) %>
    <p>Verifique os erros abaixo:</p>
    <ul> 
        <% @weight_price.errors.full_messages.each do |msg| %> 
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: [@transport, @weight_price]) do |f| %>
  <div>
    <%= f.label :min_weight %>:
    <%= f.text_field :min_weight %>
  </div>
  <div> 
    <%= f.label :max_weight %>:
    <%= f.text_field :max_weight %>
  </div>
  <div> 
    <%= f.label :value_km %>:
    <%= f.text_field :value_km %>
  </div>
  <%= f.submit 'Salvar', class: "btn btn-bd-primary"%>
<% end %>

  <%= link_to 'Voltar', @transport, class: "btn btn-bd-primary" %>