<h2>Detalhes da Ordem de Serviço <%= @service_order.order_code%></h2>
<br>
<section>
  <h5> Dados do remetente: </h5>
    <ul>
      <li> <%= ServiceOrder.human_attribute_name(:sender_address) %>: <%=  @service_order.sender_address %> </li>
      <li> <%= ServiceOrder.human_attribute_name(:sender_name) %>: <%=  @service_order.sender_name %> </li>
    </ul>
  <h5> Dados do destinatario: </h5>
    <ul>
      <li> <%= ServiceOrder.human_attribute_name(:receiver_address) %>: <%=  @service_order.receiver_address %> </li>
      <li> <%= ServiceOrder.human_attribute_name(:receiver_name) %>: <%=  @service_order.receiver_name %> </li>
    </ul>
  <h5> Dados do produto: </h5>
    <ul>
      <li> <%= ServiceOrder.human_attribute_name(:product_code) %>: <%= @service_order.product_code %> </li>
      <li> Dimensões: <%= @service_order.product_width %> cm x <%= @service_order.product_height %> cm </li>
      <li> <%= ServiceOrder.human_attribute_name(:order_weight) %>: <%= @service_order.order_weight %> Kg </li>
      <li> <%= ServiceOrder.human_attribute_name(:order_distance) %>: <%= @service_order.order_weight %> Km </li>
      <li><strong><%= ServiceOrder.human_attribute_name(:status) %>: <%= I18n.translate(@service_order.status) %> </strong> </li>
    </ul>

  <% if @service_order.pending?%>
    <%= link_to 'Iniciar OS', new_service_order_start_service_order_url(@service_order.id), class: "btn btn-bd-primary" %>

  <% elsif @service_order.progress? %>
    <%= render 'os'%>
    
  <% end %>
 <%= link_to 'Voltar', service_orders_url, class: "btn btn-bd-primary" %>

</section>

