<h2>Editar veículo</h2>

<% if(@vehicle.errors.any?) %>
    <p>Verifique os erros abaixo:</p>
    <ul> 
        <% @vehicle.errors.full_messages.each do |msg| %> 
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @vehicle) do |f| %>
  <div> 
    <%= f.label :plate %>:
    <%= f.text_field :plate %>
  </div>
  <div> 
    <%= f.label :make %>:
    <%= f.text_field :make %>
  </div>
  <div> 
    <%= f.label :model %>:
    <%= f.text_field :model %>
  </div>
  <div> 
    <%= f.label :year %>:
    <%= f.number_field :year %>
  </div>
  <div> 
    <%= f.label :max_load_capacity %>:
    <%= f.number_field :max_load_capacity %>
  </div> 
  
  <%= f.submit 'Salvar', class: "btn btn-bd-primary"%>
<% end %>

  <%= link_to 'Voltar', @vehicle, class: "btn btn-bd-primary" %>

  </div>





