<main> 
  <h2>Veículos cadastrados</h2>

  <%= form_with(url: search_vehicles_url, method: :get) do |s| %>
    <%= s.label :query, 'Busca de veículos' %>:
    <%= s.text_field :query %>
    <%= s.submit 'Buscar' %>
  <% end %>
</main>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> <%= Vehicle.human_attribute_name(:plate) %> </th>
        <th scope="col"> <%= Vehicle.human_attribute_name(:model) %></th>
        <th scope="col"> <%= Vehicle.human_attribute_name(:max_load_capacity) %></th>
        <th scope="col"> <%= Vehicle.human_attribute_name(:status) %></th>
      </tr>
    </thead>

    <% @vehicles.each do |v| %>
      <tbody>
        <tr>
          <td><%= link_to v.plate, v %> </td>
          <td><%= v.model %> </td>
          <td><%= v.max_load_capacity %> Kg </td>
          <td><%= I18n.translate(v.status) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

 <% if user_signed_in? %>
  <%= link_to 'Cadastrar novo veículo', new_vehicle_url, class: "btn btn-bd-primary" %>
 <% end %>
  <%= link_to 'Voltar', root_url, class: "btn btn-bd-primary" %> 
</section>

