<main> 
  <h2>Veículos cadastrados</h2>

    <%= form_with(url: search_vehicles_url, method: :get) do |s| %>
      <%= s.label :query, 'Busca de veículos' %>
      <%= s.text_field :query %>
      <%= s.submit 'Buscar' %>
    <% end %>
</main>

<section>
  <h4>Resultado da busca por: '<%=@plate%>' </h4>

  <% if @vehicles.present? %>
    <p>
      <b><%=@vehicles.count%> <%=Vehicle.model_name.human(count: @vehicles.count).downcase%> 
          <%=I18n.translate(:found, count: @vehicles.count)%></b>
    </p>
    <% @vehicles.each do |vehicle| %>
        <%= render vehicle %>
    <% end %>
  <% else %>
    <p> Nenhum resultado encontrado </p>
  <% end %>
</section>


