<!DOCTYPE html>
<html>
  <head>
    <title>FreightApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <header>
      <h1> Fretes & Entregas </h1>
      <nav class='d-flex justify-content-around'>
        <%= link_to 'Acessar área de colaboradores', new_user_session_url %> |
        <%= link_to 'Rastreamento de entregas', root_url %> | 
        <%= link_to 'Modalidades de transporte', transports_url %> | 
        <%= link_to 'Gestão de frota', vehicles_url %> |
        <%= link_to 'Ordens de serviço', service_orders_url %> |

        <!-- login -->
          <% if user_signed_in? %>
            <p> Olá, <%= current_user.name%>!</p>
            <%= button_to 'Sair', destroy_user_session_url, method: :delete, class:"btn btn-link"%> 
          <% end %>
      </nav>
    </header>
    <main>
      <div class="warning">
        <%= flash[:notice]%>
        <%= flash[:alert]%> 
      </div>
    </main>
        <%= yield %>
  </body>
</html>
